@import '../../styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}
input[type='password'],
input[type='email'] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0px 40px 0px 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}
button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 60px;

  &:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.9;
  }
}
.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .inputWrap {
      margin-top: 16px;
      display: flex;
      position: relative;
      align-items: center;
    }
    input {
      flex-grow: 1;
    }
    .status {
      position: absolute;
      right: 8px;
      font-size: 12px;
      cursor: help;
    }

    .link {
      text-align: center;
      color: $primary;
      margin-top: 16px;
      text-transform: lowercase;

      &:hover {
        cursor: pointer;
        transition: 0.4s;
        opacity: 0.9;
        text-decoration: underline;
      }
    }
    .errorWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      .spinner {
        margin-top: 50px;
        margin-right: 40px;
        margin-bottom: 20px;
      }
      .error {
        margin-top: 50px;
        color: $primaryLight;
      }
    }
  }

  .submit {
    margin-top: 32px;
  }
}
