@import '../../styles/colors.scss';

.header {
  display: flex;
  flex-direction: column;
  border-top: 48px solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    margin-top: 40px;
    width: 100px;
  }
  h1 {
    color: $white;
    margin: 16px 0px 40px;
  }
}
